*{
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body{
  height: 150vh;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  width: 100%;
  background: linear-gradient(90.1deg, rgb(255, 85, 85) 0.1%, rgb(85, 85, 255) 100%);
}

header *{
display: flex;
}

header img{
  margin-left: 2.5vw;
  height: 25vh;
  width: 25vh;
  border-radius: 50%;
}
header figure{
  width: 30vw;
}

header figcaption{
  width: 15vw;
  margin-left: 1vw;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: white;
}

header h1{
  margin-right: 5vw;
  background-color: white;
  font-size: 5vw;
  padding: 1vw;
border-radius: 0 0 10% 0;
}

main{
  margin-top: 1vh;
}

.slide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 70vh;
}

.slide button{
  background-color: black;
  opacity: 0.60;
  height: 100%;
  width: 3vw;
  color: white;
}
